GEMINI_API_KEY=

DB_URL=jdbc:mysql://localhost:3306/voyastra
DB_USER=root
DB_PASSWORD=

SMTP_USER=
SMTP_PASS=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_PHONE=

RAZORPAY_KEY=
RAZORPAY_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
